<h1>Lista de Productos</h1>

<div class="container" *ngIf="mostrarLista">
  <table class="table">
    <tr class="table-header">
      <th>Nombre</th>
      <th>Costo</th>
    </tr>
    <tr *ngFor="let producto of nombresCostos" class="table-row">
      <td class="table-data">{{ producto.nombre }}</td>
      <td class="table-data">{{ producto.costo }}</td>
    </tr>
  </table>
</div>

<div class="button-container">
  <button mat-button (click)="mostrarLista = !mostrarLista">
    {{ mostrarLista ? 'Ocultar' : 'Mostrar Lista' }}
  </button>
</div>
